;; !  | means mandatory
;; #  | means optional
;; C  | left_command
;; T  | left_control
;; O  | left_option
;; S  | left_shift
;; F  | fn
;; Q  | right_command
;; W  | left_control
;; E  | right_option
;; R  | right_shift
;;
;; !! | mandatory command + control + optional + shift (hyper)
;; ## | optional any

;; com.microsoft.VSCode
;; /Applications/Visual Studio Code.app/Contents/MacOS/Electron

;; com.jetbrains.intellij
;; /Applications/IntelliJ IDEA.app/Contents/MacOS/idea

;; possible solutions for double taps https://github.com/yqrashawn/GokuRakuJoudo/issues/69
;; https://blog.rtwilson.com/karabiner-elements-and-goku-for-custom-keyboard-shortcuts-in-macos/

{
 :simlayer-threshold 350
 :simlayers {
             :a_layer {:key :a}
             :s_layer {:key :s}
             :d_layer {:key :d}
             :f_layer {:key :f}
             :g_layer {:key :g}
             :r_layer {:key :r}
             :v_layer {:key :v}
             :space_layer {:key :spacebar}
             }

 :applications {
                :code ["^com\\.microsoft\\.VSCode$"]
                :intellij ["^com\\.jetbrains\\.intellij$"]
                :vmware  ["^com\\.vmware\\.horizon$"]
                }

 :main [
        {:des "Magic Keys"
         :rules [

                ; vmware
                 [:left_control {:key :tab :modi [:left_control :left_command :left_option :left_shift]} :vmware]
                 [{:key :##left_command} [:left_control] :vmware]
                 [{:key :##right_command} [:left_control] :vmware]
                
                ; control and escape to pinkie (caps lock)
                 [{:key :##caps_lock}
                  [:left_control]
                  nil
                  {:alone :escape}]


                 ; hyper to tab
                 [{:key :##tab}
                  {:key :left_shift :modi [:left_command :left_control :left_option]}
                  nil
                  {:alone :tab}]

                ;; vmware left-control to windows key

                ;; vmware left-command to left-control

                 ; code: meh to escape, organise imports if alone
                 [{:key :##escape}
                  {:key :left_shift :modi [:left_control :left_option]}
                  :code
                  {:alone {:key :o :modi [:left_option :left_shift]}}]

                ;;  intellij: meh to escape, organise imports + format if alone
                 [{:key :##escape}
                  {:key :left_shift :modi [:left_control :left_option]}
                  :intellij
                  {:alone [
                           {:key :o :modi [:left_option :left_control]}
                           {:key :l :modi [:left_option :left_command]}
                           ]}]

                ;; meh to escape
                 [{:key :##escape}
                  {:key :left_shift :modi [:left_control :left_option]}
                  nil]
                 ]}

        {:des "Space Layer"
         :rules [:space_layer

                ;;  vmware 
                 [:right_arrow {:key :right_arrow :modi [:left_control :left_command]} :vmware]
                 [:left_arrow {:key :left_arrow :modi [:left_control :left_command]} :vmware]

                ;;  thirds
                 [:a {:key :d :modi [:left_control :left_option]}]
                 [:semicolon {:key :g :modi [:left_control :left_option]}]

                 ;;  two thirds
                 [:s {:key :e :modi [:left_control :left_option]}]
                 [:l {:key :t :modi [:left_control :left_option]}]

                ;;  halfs
                 [:right_arrow {:key :right_arrow :modi [:left_control :left_option]}]
                 [:left_arrow {:key :left_arrow :modi [:left_control :left_option]}]
                 [:right_arrow {:key :right_arrow :modi [:left_control :left_option]}]
                 [:left_arrow {:key :left_arrow :modi [:left_control :left_option]}]

                ;;  maxi-restore
                 [:up_arrow {:key :return_or_enter :modi [:left_control :left_option]}]
                 [:down_arrow {:key :delete_or_backspace :modi [:left_control :left_option]}]

                ;;  terminals
                 [:return_or_enter {:key :grave_accent_and_tilde :modi [:left_control]} :code]
                 [:return_or_enter {:key :f12 :modi [:left_option]} :intellij]

                ;; actions
                 [:f {:key :p :modi [:left_command]} :code]
                 [:j {:key :p :modi [:left_shift :left_command]} :code]
                 [:f {:key :return_or_enter :modi [:left_option]} :intellij]
                 [:j [:left_shift :left_shift] :intellij]

                ;;  clutter
                 [:k {:key :f12 :modi [:left_shift :left_command]} :intellij]

                ;;  lock
                 [:q {:key :q :modi [:left_control :left_command]}]
                 ]}
        {:des "A Layer"
         :rules [:a_layer
                 [:h {:key :left_arrow :modi [:left_option]} :code]
                 [:j {:key :down_arrow :modi [:left_option]} :code]
                 [:k {:key :up_arrow :modi [:left_option]} :code]
                 [:l {:key :right_arrow :modi [:left_option]} :code]

                 [:h {:key :left_arrow :modi [:left_option]} :vmware]
                 [:j {:key :down_arrow :modi [:left_option]} :vmware]
                 [:k {:key :up_arrow :modi [:left_option]} :vmware]
                 [:l {:key :right_arrow :modi [:left_option]} :vmware]

                 [:h {:key :left_arrow :modi [:left_shift :left_option]} :intellij]
                 [:j {:key :down_arrow :modi [:left_shift :left_option]} :intellij]   ;; move line down
                 [:k {:key :up_arrow :modi [:left_shift :left_option]} :intellij]     ;; move line up
                 [:l {:key :right_arrow :modi [:left_shift :left_option]} :intellij]
                 ]}

        {:des "S Layer"
         :rules [:s_layer
                 [:h {:key :left_arrow :modi [:left_shift :left_option]} :code]
                 [:j {:key :down_arrow :modi [:left_shift :left_option]} :code]  ;; copy line down
                 [:k {:key :up_arrow :modi [:left_shift :left_option]} :code]    ;; copy line up
                 [:l {:key :right_arrow :modi [:left_shift :left_option]} :code]

                 [:h {:key :left_arrow :modi [:left_shift :left_option]} :vmware]
                 [:j {:key :down_arrow :modi [:left_shift :left_option]} :vmware]  ;; copy line down
                 [:k {:key :up_arrow :modi [:left_shift :left_option]} :vmware]    ;; copy line up
                 [:l {:key :right_arrow :modi [:left_shift :left_option]} :vmware]

                 [:j {:key :d :modi [:left_command]} :intellij]  ;; copy line down
                 [:k {:key :d :modi [:left_command]} :intellij]  ;; copy line down b/c ij doesn't have copy line up afaik
                 ]}

        ;; good for both vscode and intellij
        {:des "D Layer"
         :rules [:d_layer
                 [:h {:key :!Sleft_arrow}]
                 [:j {:key :!Sdown_arrow}]
                 [:k {:key :!Sup_arrow}]
                 [:l {:key :!Sright_arrow}]]}

        ;; good for both vscode and intellij
        {:des "F Layer"
         :rules [:f_layer
                 [:##h :left_arrow]
                 [:##j :down_arrow]
                 [:##k :up_arrow]
                 [:##l :right_arrow]
                 ]}

        ;; good for both vscode and intellij
        {:des "G Layer"
         :rules [:g_layer
                 [:h {:key :a :modi :left_control}]
                 [:j :##page_down]
                 [:k :##page_up]
                 [:l {:key :e :modi :left_control}]
                 ]}

        {:des "R Layer"
         :rules [:r_layer
                 [:h {:key :left_arrow :modi [:left_option :left_command]}]
                 [:j {:key :down_arrow :modi [:left_option :left_command]}]
                 [:k {:key :up_arrow :modi [:left_option :left_command]}]
                 [:l {:key :right_arrow :modi [:left_option :left_command]}]
                 ]}

        {:des "V Layer"
         :rules [:v_layer
                 [:h {:key :left_arrow :modi [:left_shift :left_command :left_control]} :code] ;; shrink selection
                 [:j {:key :down_arrow :modi [:left_shift :left_command :left_control]} :code]
                 [:k {:key :up_arrow :modi [:left_shift :left_command :left_control]} :code]
                 [:l {:key :right_arrow :modi [:left_shift :left_command :left_control]} :code] ;; extend selection

                 [:h {:key :left_arrow :modi [:left_shift :left_option]} :vmware] ;; shrink selection
                 [:l {:key :right_arrow :modi [:left_shift :left_option]} :vmware] ;; extend selection

                 [:h {:key :down_arrow :modi [:left_option]} :intellij] ;; shrink selection
                 [:l {:key :up_arrow :modi [:left_option]} :intellij] ;; extend selection


                 ]}]}

;; [
;;   {
;;     "type": "down",
;;     "name": {"key_code":"grave_accent_and_tilde"},
;;     "usagePage": "7 (0x0007)",
;;     "usage": "53 (0x0035)",
;;     "misc": ""
;;   },
;;   {
;;     "type": "up",
;;     "name": {"key_code":"grave_accent_and_tilde"},
;;     "usagePage": "7 (0x0007)",
;;     "usage": "53 (0x0035)",
;;     "misc": ""
;;   }
;; ]
