@import "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"

configuration {
  combi-modi: "window,drun";
  font: "Ubuntu Mono 14";
  modi: "combi";
}

inputbar {
  children: [prompt, textbox-prompt-colon, entry, case-indicator];
  spacing: 0;
}

textbox-prompt-colon {
  expand: false;
  margin: 0px 0.3000em 0.0000em 0.0000em;
  str: ":";
  text-color: inherit;
}
